.grid-cell-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: none;
    padding: 8px 8px;
    flex-shrink: 0;
    height: 100%;
    border-right: 1px solid var(--mui-palette-divider);
}

.grid-cell-container.align-left {
    justify-content: flex-start;
}

.grid-cell-container.align-center {
    justify-content: center;
}

.grid-cell-container.align-right {
    justify-content: flex-end;
}

.grid-cell-container.no-border {
    border-right: none;
}

.grid-cell-content {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
