.editable-cell-edit-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.editable-cell-autocomplete {
    flex-grow: 1;
}

.editable-cell-textfield {
    width: 100%;
}

.editable-cell-view-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding-right: 36px;
    position: relative;
}

.editable-cell-view-container .edit-button {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.editable-cell-view-container:hover .edit-button {
    visibility: visible;
}
